npm_config_target_platform=win32
npm_config_cache=C:\Windows\Temp\npm-cache
npm_config_build_from_source=true
npm_config_disturl=https://electronjs.org/headers
npm_config_runtime=electron
npm_config_devdir=C:\Windows\Temp\.electron-gyp
